/*css documment*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: #ffffff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.logo img{
	float: left;
	width: 50px;
	height: 50px;

}

.logo img {
	transform: scale(0.8);
}

.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #f2f2f2;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 20px;
}

.nav-link {
	float: right;
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.nav-link img{
	float: left;
	width: 20px;
	height: 20px;
}

.nav-link:hover {
	background-color: #ddd;
	color: #333;
}

.content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    

.programmes, .recette {
	margin-bottom: 50px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.cta-button {
	background-color: #ff7f50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.cta-button:hover {
	background-color: #ff6347;
}

.footer {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin: 20px ; 
}
.entet{
    background-image: linear-gradient( hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.8)), url(nadine-primeau--ftWfohtjNw-unsplash.jpg);
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}
.image.vegan{
    background-color: black;
    background-image: url(/calories-counting-diet-food-control-and-weight-loss-concept-calorie-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
}
.image.gluten{
    background-color: black;
    background-image:
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;

}