@charset "utf-8";

.banner{
    background-image: linear-gradient( hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url(images_contact/contact_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
    margin-bottom: 3rem;
}

p{
    color: #5B9279;
}

h1{
    text-align: center;
    color: #ffffff;
    padding-top: 6rem;
}

.cards{
    display: flex;
    justify-content: center;
    color: #333333;
}

hr{
    margin: 1rem;
    border: 1.5px solid#333333;
}

.card_telephone{
    text-align: center;
    padding: 2rem;
}

.logo_telephone{
    color: #333333;
    font-size: xx-large;
}

.card_mail{
    text-align: center;
    padding: 2rem;
}

.logo_mail{
    color:#333333;
    font-size: xx-large;
}

.mail{
    text-decoration: underline;
}

.card_social{
    text-align: center;
    padding: 2rem;
}

.logo_social{
    color:#333333;
    font-size: xx-large;
}

.logo_socials{
    display: flex;
    justify-content: center;
    gap:  2rem;
    font-size: larger;
}