
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-image: url(images_index/background-healthy-eating.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 90px;
	font-family: 'Noto Sans', sans-serif;
	background-color: #fff;
}

/* header fixed on the top */
	header{
	position: fixed;
	top: 0;
	width: 1200px;
	padding-left: 10px;
	z-index: 1;

}


/* logo-heart */
.logo img{
	float: left;
	width: 50px;
	height: 49px;
	background-color: #fff;

}

/* buttons on the right side */
.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 20px;
	color: #3c6845;
}

/* navigation drop  */
/*CSS pour Dropdown menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;

  }
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #6a9f62;
  }
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #13be03;
	text-decoration: underline;
  }
  
li.dropdown {
    display: inline-block;
    color: #6a9f62;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFF;
    color: #6a9f62;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
  }
  
.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #6a9f62;
  }
  
.dropdown-content a:hover {
   
    
    border-radius: 5px 5px 5px 5px;

}
  
.dropdown:hover .dropdown-content {
    display: block;
  }


/* buttons on the right side */
.nav-link {
	float: right;
	display: block;
	color: #6a9f62;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}
/* profil et loupe */
.nav-link img{
    float: left;
    width: 20px;
    height: 20px;
}

/* profil et loupe */
.nav-link:hover {
	background-color: #fff	;
	color: #13be03;
}

/*dropdown menu end*/
.banner{ /*image haut de page*/
    /*filtre dégradé blanc*/
    background-image: linear-gradient( hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 1)), url(images_contact/contact_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    margin: 10px;
    margin-top: -40px;
}

/*mise en forme des textes*/
p{ /*coordonnées*/
    color: #5B9279;
    font-family: "inter";
}

h1{ /*titre de haut de page*/
    text-align: center;
    color: #333333;
    padding-top: 6rem;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 42px;
}

h2{ /*titre de chaque carte*/
    font-size: 18px;
}
/*fin mise en forme des textes*/

/*mise en forme de toutes les cartes:*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333333;
}

/*trait entre les sections*/
hr{
    margin: 1rem;
    border: 1.5px solid#333333;
}

/*mis en forme à l'intérieur des cartes:*/
.card_telephone, .card_mail, .card_social{
    text-align: center;
    padding: 2rem;
}

/*logo des contact dans chaque carte*/
.logo_telephone, .logo_mail, .logo_social{
    color: #333333;
    font-size: xx-large;
}

/*effet de lien sur les coordonnées*/
.mail, .telephone{
    text-decoration: underline;
}

/*logo des réseaux sociaux*/
.logo_socials{
    display: flex;
    justify-content: center;
    gap:  2rem;
}

/*active states*/
/*pour les effets de liens*/
.mail:hover, .telephone:hover{
    text-decoration: none;
    color:#6cd66c;
    cursor: pointer;
}

/*pour les réseaux*/
.facebook:hover, .instagram:hover, .twitter:hover, .tiktok:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
    color: #6cd66c;
}
/*fin active states*/

/*responsive téléphone:*/
@media (max-width:500px) {
    .banner{
        height: 20%;
        padding: 1rem;
    }

    h1{
        padding-top: 0;
    }

    .cards{
        flex-direction: column;
    }
}
/*fin responsive téléphone:*/

/*responsive tablette:*/
@media (max-width:950px) {
    .cards{
        flex-direction: column;
    }
}
/*fin responsive tablette:*/