@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: #E9F0E5;
	background-image: url(images_index/background-healthy-eating.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Noto Serif', serif;
	background-color: #fff;
}


/* logo-heart */
.logo img{
	float: left;
	width: 50px;
	height: 50px;

}

/* buttons on the right side */
.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 20px;
	color: #6a9f62;
}


/* buttons on the right side */
.nav-link {
	float: right;
	display: block;
	color: #6a9f62;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

/* profil et loupe */
.nav-link img{
	float: left;
	width: 20px;
	height: 20px;
}

/* profil et loupe */
.nav-link:hover {
	background-color: #ddd;
	color: #13be03;
}

/* slideshow images */
		* {box-sizing: border-box}

		/* Hide the images by default */
		.mySlides {
			display: none;
			max-height: 370px;
   			overflow: hidden;
			   
		}
		img {vertical-align: middle;}

		/* Slideshow container */
		.slideshow-container {
		  max-width: 1250px;
		  position: relative;
		  margin: auto;
			background-image: linear-gradient( hsla(141, 75%, 28%, 0.5), rgb(255, 255, 255));
		}

		/* slideshow images */
		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: rgb(33, 123, 75);
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		}


		/* slideshow images */
		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}


		/* slideshow images */
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}
		

		/* slideshow images */
		/* Caption text */
		.text {
		  color: #f2f2f2;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
		  bottom: 8px;
		  width: 100%;
		  text-align: center;
		}


		/* slideshow images */
		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}
		
		/* slideshow images */
		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbbbbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		/* slideshow images */
		.active, .dot:hover {
		  background-color: #717171;
		}
		
		/* slideshow images */
		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		/* slideshow images */
		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		/* slideshow images */
		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		/* slideshow images */
		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
		  .prev, .next,.text {font-size: 11px}
		}



.footer {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin: 0px ; 
	color: #6a9f62;

}