@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    color:rgb(255, 255, 255);
}

.content{
    padding: 0;
}

h1{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 42px;
    color: #333333;
}

.banner{
    background-image: linear-gradient( hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 1)), url(images_programmes/Programmes_banner.jpg);
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}

.description_banner{
    padding-right: 20rem;
    line-height: 1.7rem;
    color:#333333;
}

p{
    text-align: justify;
    margin: 0px;
    line-height: 1.5rem;
}

.cards_1, .cards_2{
    display: flex;
    margin: 2rem;
}

.card{
    background-color: #5B9279;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    height: 500px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.image_detox{
    background-color: black;
    background-image: url(images_programmes/Programmes_detox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.image_keto{
    background-color: black;
    background-image: url(images_programmes/Programmes_keto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.image_carnivore{
    background-color: black;
    background-image: url(images_programmes/Programmes_carnivore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.image_pH{
    background-color: black;
    background-image: url(images_programmes/pH_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.image_lactose{
    background-color: black;
    background-image: url(images_programmes/lactose_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.image_gluten{
    background-color: black;
    background-image: url(images_programmes/gluten_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70%;
    border-radius: 10px 10px 0 0;
    background-position: center;
}

.prog_text{
    padding: 1rem;
}

h2{
    margin: 0px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

@media (max-width:500px) {
    .banner{
        height: 20%;
        padding: 1rem;
    }

    .description_banner{
        padding-right: 0;
    }

    .cards_1, .cards_2{
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
    }

    .card{
        margin: 2rem 0 2rem 1.5rem;
    }
}

@media (max-width:950px) {
    .description_banner{
        padding-right: 5rem;
    }

    .cards_1, .cards_2{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .prog_text{
        padding-top: 0;
    }
}