@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


body{

	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: #E9F0E5;
	background-color: #E9F0E5;
	background-image: url(images/background-healthy-eating.png);
	background-repeat: no-repeat;
	background-size:contain;
}


.content{
	width: 1400px;
	margin: auto;

}


.banner{
    background-image: linear-gradient( hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 1)), url(images/vegi.jpg);
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
	color: #000;
}

.description_banner{
    padding-right: 20rem;
    line-height: 1.7rem;
	
	color: #000;
	font-size: 2rem;
}

/*#wrap{
	width: 408px; 
	height: 50px; 
	margin: 0;
	z-index: 80; 
	position: relative; 
	background-color: #FFF;
	}

	.navbar{
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute; 
	}

	.navbar li{
	height: auto;
	width: 135.6px; 
	float: left;  
	text-align: center; 
	list-style: none;  
	font: normal bold 13px/1em 'Outfit', Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #9b2b2b;
	}

	.navbar a{							
	padding: 18px 0;  
	
	border: 1px solid #a8dc1c;;
	text-decoration: none; 
	color: rgb(92, 45, 158); 
	display: block;
	border-radius: 3px;

	}
	.navbar li:hover, a:hover {
	background-color: #444444;
	} 
	.navbar li ul{
	display: none;
	height: auto;									
	margin: 0; 
	padding: 0; 
	}				
	.navbar li:hover ul{
	display: block;
	}
	.navbar li ul li {
	background-color: #444444;
	} 
	.navbar li ul li a{
	border-left: 1px solid #444444; 
	border-right: 1px solid #444444; 
	border-top: 1px solid #c9d4d8; 
	border-bottom: 1px solid #444444; 
	}
	.navbar li ul li a:hover{
	background-color: #a3a1a1;
	}
*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	display: inline;

  }
  li a, .dropbtn {
	display: inline-block;
	color: #bce4d2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
  }

  
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: #FFF;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #bce4d2;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px 5px 5px 5px;
  }
  
  .dropdown-content a {
	color: rgb(37, 49, 41);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #8cae97;
	border-radius: 5px 5px 5px 5px;

}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  .search-container button {
	float: right;



	background-image: url(images/loupe.png);

	border:#000;
	cursor: pointer;
	width: 20px;
	height: 22px;
  }
  
  .search-container button:hover {
	background: #000;
	
  }



.container_last{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;


}

.container_all{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.card{
	
 	background-color: #5B9279;
    border-radius: 10px;
    display: flex;
	flex-wrap: wrap;
	margin: 2rem;

	height: 500px;
    position: relative;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);

}



.image{
	background-position: center;
  	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	width: 100%;
    height:70%;
	opacity: 1;
}

#citron{
	background-image: url(images/citron.jpg);
	
}
    
#nouilles{
	background-image: url(images/nouilles.jpg);
}

#plate{
	background-image: url(images/plate.jpg);
}

#juice{
	background-image: url(images/juice.jpg);
}
#pancake{
	background-image: url(images/pancake.jpg);
}

#eggs{
	background-image: url(images/eggs.jpg);
}
#fish{
	background-image: url(images/fish.jpg);
}
#pasta{
	background-image: url(images/pasta.jpg);
}

#ginger{
	background-image: url(images/ginger.jpg);
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	width: 100%;
	
	opacity: 0;
	transition: .3s ease;
	background-color:#FFF;
	border-radius: 10px 10px 0 0;
	cursor: pointer;

  }

.overlay:hover{
	opacity: 0.3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
 
  }

.card:hover{
	box-shadow: 2px 2px 7px hsl(257, 9%, 15%);
  }

.text{
    width: 310px;
    margin:20px;
    font-family: 'Outfit', sans-serif;
	cursor: pointer;

	
}


.footer{
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin: 20px ; 
}

a:link{
    color: hsl(0, 0%, 0%);;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: hsl(257, 9%, 15%);
    background-color: transparent;
    text-decoration: none;
}
a:hover{
  
    background-color: transparent;
    text-decoration: underline;
}


.card_blog{
	background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
	height: 400px;
    margin: auto;
    margin-top: 100px;
	border-radius: 10px 10px 10px 10px;
}

.image_blog{
    background-image: url("images/legums.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    border-radius: 10px 10px 10px 10px;
}

.text_blog{
    width: 30%;
    
    border-radius: 0 20px 20px 0;
    padding: 5%;
}
.subscription{
	margin: auto;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 200px;


}
.button{
	border-radius: 3px 3px 3px 3px;
	font-size: 1.1rem;
	border-color: gray;
	background-color:#bce4d2;
	width: 100px;


}


nav {
    display: flex;
    justify-content: center;
}
        
.pagination {
    list-style: none;
    margin: auto;
    padding: auto;
    display: flex;
	font-family: bold;
	font-size: 1,9rem;
}
        
.pagination li {
    margin: 10px;
	margin-top: 50px;
}
    

@media (max-width:500px) {
    .banner{
        height: 20%;
        padding: 1rem;
    }

    .description_banner{
        padding-right: 0;
    }

    .cards{
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
    }

    .card{
        margin: 2rem 0 2rem 1.5rem;
    }
}

@media (max-width:950px) {
    .description_banner{
        padding-right: 5rem;
    }

    .cards{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text{
        padding-top: 0;
    }
}