body{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: #ffffff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}


/* logo-heart */
.logo img{
	float: left;
	width: 50px;
	height: 50px;

}

/* buttons on the right side */
.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 20px;
	color: #4c7f44;
}

.nav-link {
	float: right;
	display: block;
	color: #4c7f44;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

/* profil et loupe */
.nav-link img{
	float: left;
	width: 20px;
	height: 20px;
}

.nav-link:hover {
	background-color: #ddd;
	color: #333;
}


		* {box-sizing: border-box}
		body {font-family: 'Inter', sans-serif; margin:0}
		.mySlides {display: none}
		img {vertical-align: middle;}

		/* Slideshow container */
		.slideshow-container {
		  max-width: 1000px;
		  position: relative;
		  margin: auto;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		/* Caption text */
		.text {
		  color: #f2f2f2;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
		  bottom: 8px;
		  width: 100%;
		  text-align: center;
		}

		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
		  .prev, .next,.text {font-size: 11px}
		}





.footer {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin: 20px ; 
}